div.gallery img {
     border: 1px solid #ddd;   /*갤러리 이미지 테두리선 */	
    width: 100%;
	 height: auto;
	 border-radius: 4px;  
     padding: 5px;  
	 opacity:0.8;
	 cursor:pointer    
    }

* {
    box-sizing: border-box;   /*width+ border까지 너비 사이즈로 인식*/
}

.part_img {
    padding:6px;     /*이미지 사이 거리*/
    width:33.3%;     /*하나의 이미지 크기 비율*/
}


.center {
    margin: auto;
	width: 1200px;

    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    }

  /*사이즈 확인*/
  /*
    border: 3px solid #73AD21;
    padding: 10px;
*/

.gallery img:hover{opacity:1}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px){
    .part_img {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .part_img {
        width: 80%;
    }
}