 @charset "UTF-8"; 
       .title, .contents{
	      width: 1000px;
          margin: auto;    
	      display: block;
		  text-align: left;
       }

      .title-30 {
           padding-top: 35px;
       }

/* 메인 이미지 */
       img {
          padding-top: 30px;
	      width: 1000px;
          margin: auto;     /* margin은 바깥 여백이며 auto 값은 자동 설정한다는 뜻 */
	      display: block;   /* 블록 지정으로 자동 줄 바꿈과 크기를 지정할 수 있다 */
          }


/* 사이드 메뉴 환경 설정 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
	font-family: "Lato", sans-serif;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/* 사이드 메뉴 닫기 버튼 */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

/* 사이드 메뉴 크기 */
@media screen and (max-height: 400px) {
                .sidenav {padding-top: 20px;}
                .sidenav a {font-size: 20px;}
               }
